body{
    background-color: wheat;
    font-family:serif;
}
#text{
    box-sizing: border-box;
    font-size: 50px;
    margin-left: 600px;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: cursive;

    
}
#calendar{
    background-color:aliceblue;
    position: relative;
     margin-left: 20%;
        width: 800px;
        height: 500px;
        border: 1px solid black;
        box-shadow: 5px 5px 10px #888888;

}
#calendar:hover{
    box-shadow: 8px 12px 19px #888888;
}

#time{
    box-sizing: border-box;
    width: 50%;
    height: 20%;
    box-sizing: border-box;
    padding-left: 14%;
    padding-top: 3%;
    font-size: 20px;
        color:chocolate;
    letter-spacing: 8px;
}

#date{
    
    width: 50%;
    height: 80%;
    font-size: 20px;
    box-sizing: border-box;
    letter-spacing: 17px;
    padding-left: 26px;
    padding-top: 15px;

}
#complete_info{
    width: 60%;
    height: 80%;
    font-size: 36px;
    box-sizing: border-box;
    margin-left: 30%;
    padding-left: 26px;
    padding-top: 15px;
    font-weight: bold;
    
}
#days{
    letter-spacing: normal;
    box-sizing: border-box;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
.day{
    width: 26px;
    height: 28px;
    box-sizing: border-box;
    padding-top: 1px;
    margin-right: 26px;
    margin-bottom: 25px;
    border-radius: 50%;
    
}
.day:nth-child(1){
    margin-right: 26px;
}
.day:nth-child(2){
    margin-right: 26px;
}
.day:nth-child(3){
    margin-right: 26px;
}
.day:nth-child(4){
    margin-right: 26px;
}
.day:nth-child(5){
    margin-right: 26px;
}
.day:nth-child(6){
    margin-right: 26px;
}
.day:nth-child(7){
    margin-right: 26px;
}
.day:nth-child(8){
    margin-right: 26px;
}
.day:nth-child(9){
    margin-right: 26px;
}
#red{
    color: red;
}
.event{
    color: white;
    background-color: orange;
}
.day:hover{
    cursor: pointer;
    background-color: skyblue;
    font-weight: bold;
}
.event:hover{
    background-color: darkorange;
}
#photo{
    width:50%;
    height: 100%;
    border: transparent;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(images.jpg);
}
@media screen and (max-width:1100px){
    #calendar{
        width:80%;
        margin-left: 80px;
       
    }
}
@media screen and (max-width:1050px){
    #text{
        margin-left: 10px;
    }
    #calendar{
        width:90%;
        margin-left: 120px;
    }
    #time{
        font-size: 20px;
         padding-top: 30px;
    }
    #photo{
        width: 47%;
    }
    #date{
        width: 53%;
    }
    #week{
        margin-right: 8%;
    }
    #red{
        margin-left: 0px;
    }
}

@media screen and (max-width:982px){
    #text{
        margin-left: 10px;
    }
    #calendar{
        width:60%;
        margin-left: 70px;
    }
        #time{
        font-size: 20px;
        padding-top: 30px;
    }
    #photo{
        width: 45%;
    }
    #date{
        width: 55%;
    }
    #week{
        letter-spacing: 16px;
    }
    .day{
        margin-right: 24px;
    }
    .day:nth-child(1){
        margin-right: 22px;
    }
    .day:nth-child(2){
        margin-right: 22px;
    }
    .day:nth-child(3){
        margin-right: 23px;
    }
    .day:nth-child(4){
        margin-right: 23px;
    }
    .day:nth-child(5){
        margin-right: 20px;
    }
    .day:nth-child(6){
        margin-right: 20px;
    }
}
@media screen and (max-width:924px){
    #text{
        margin-left: 10px;
        
    }
    #calendar{
        width:80%;
        margin-left: 80px;
    }
    #photo{
        width: 40%;
    }
    #date{
        width: 60%;
    }
    #week{
        letter-spacing: 16px;
    }
    .day{
        
        margin-bottom: 25px;
    }
     .day:nth-child(1){
        margin-right: 22px;
    }
    .day:nth-child(2){
        margin-right: 22px;
    }
    .day:nth-child(3){
        margin-right: 23px;
    }
    .day:nth-child(4){
        margin-right: 23px;
    }
    .day:nth-child(5){
        margin-right: 20px;
    }
    .day:nth-child(6){
        margin-right: 20px;
    }
    
}

@media screen and (max-width:850px){
    #calendar{
        width:70%;
        margin-left: 100px;
    }
        #time{
        font-size: 20px;
            padding-top: 30px;
    }
    #photo{
        width: 40%;
    }
    #date{
        width: 60%;
    }
    #week{
        letter-spacing: 12px;
    }
    .day{
        margin-right: 16px;
        margin-bottom: 30px;
    }
}
.microphone{
    width:30px;
    height: 40px;
    position: absolute;
    top: 100px;
    left: 820px;
    border-radius: 40%;
    padding: 0;
    background-size: cover;
    background-color: black;
    background-image: url("https://www.pinclipart.com/picdir/middle/32-322562_open-google-microphone-icon-clipart.png");
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

.record{
    animation: microphone-animation 1.5s infinite;
}
@keyframes microphone-animation{
    0%{
        transform: scale(0.9);
        
    }
    70%{
        transform: scale(1.0);
        box-shadow: 0 0 0 8px rgba(0,148,255,1);
    }
    100%{
        transform: scale(0.9);
        
    }
}
#dark_button{
    position: absolute;
    right: 80px;
    top: 20px;
    width: 160px;
    height: 40px;
    font-size: 20px;
    font-family: cursive;
    transition-duration: 0.4s;
    border-radius: 5px;
}
#dark_button:hover{
    color: white;
    background-color: rgb(15, 15, 15);
    border: 1px solid yellow;
}

#before{
    position: absolute;
    left: 230px;
    top: 31%;
    width: 70px;
    height: 500px;
    opacity: 0.5;
    transition-duration: 0.4s;
    border-radius: 5px;
}
#after{
    position: absolute;
    right: 330px;
    top: 31%;
    width: 70px;
    opacity: 0.5;
    height: 500px;
    transition-duration: 0.4s;
    border-radius: 5px;
}
#before:hover{
    
    opacity: 0.8;
    color:white;
    font-size: 30px;
    background-color: rgb(203, 211, 93);
}
#after:hover{
    opacity: 0.8;
    color:white;
    font-size: 30px;
    background-color:  rgb(203, 211, 93);
}
#c1{

    box-sizing: border-box;
    padding: 15px;
    font-size: 24px;
    margin-right: 150px;
    background-color: tomato;
    border:1px solid wheat;
    font-family: cursive;
    
}
#c2{
    padding: 15px;
    font-size: 24px;
    box-sizing: border-box;
    background-color: tomato;
    border:1px solid wheat;
    font-family: cursive;
}